#root {
    background-color: red
}



.left {
    float: left;
    display: inline;
    width: 25%;
}

.right {
    float: right;
    width: 75%;
    display: table;   /* Allow the centering to work */
    page-break-inside: avoid;
}

.form {
    border: 1px solid blue;
    width: 10%;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.data {
    border: 1px solid red;
    width: 17%;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.itemEntry {
    color: gray
}

#para {
    width: 100%;
}

.login {
  position: absolute;
  padding: 0px;
  text-align: center;
  display: inline-block;
  top: 40%;
  left: 40%;
  
  border: 1px solid black;
}

.loginHeader {
    padding: 5px;
}

.signup {
    position: absolute;
    padding: 0px;
    text-align: center;
    display: inline-block;
    top: 40%;
    left: 40%;
    border: 1px solid black;
}

.signupHeader {
    padding: 5px;
}
